@use "variables" as *;

// media query mixins
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin desktop-width {
  width: 102rem;
  margin: 0 auto;
}

// Mobile
@mixin heading_xl_mb {
  font-size: 4rem;
  line-height: 1.56;
  font-weight: 700;
}

//desktop/tablet
@mixin heading_xl {
  font-size: 8.8rem;
  line-height: 1.56;
  font-weight: 700;
}

@mixin heading_l {
  font-size: 4.8rem;
  line-height: 1.56;
  font-weight: 700;
}

@mixin heading_m {
  font-size: 2.4rem;
  line-height: 1.56;
  font-weight: 700;
}

@mixin body_l {
  font-size: 1.8rem;
  line-height: 1.56;
  font-weight: 500;
}

// Desktop & Tablet - dt = desktop & tablet

// paddings for desktop/tablet
@mixin padding_before_headline_dt {
  padding-top: 3.6rem;
}

@mixin padding_after_headline_dt {
  padding-bottom: 2.4rem;
}

@mixin padding_between_components_dt {
  padding: 0 2.4rem;
}

// paddings for mobile
@mixin padding_before_headline_mobile {
  padding-top: 2.4rem;
}

@mixin padding_after_headline_mobile {
  padding-bottom: 2.4rem;
}

@mixin padding_between_components_mobile {
  margin: 0 1.8rem;
}
